.main-index {
    .bienvenidos {

        .parallax {
            background-image: url(./../images/index-parallax.jpg);
            height: 100%;
            @extend %parallax;

            .texto-parallax {
                @extend %texto-parallax;

                h1 {
                    color: #000;
                    text-shadow: 2px 2px white;
                    width: 100%;
                }

                h2 {
                    color: #000;
                    text-shadow: 2px 2px white;
                    width: 100%;
                }
            }
        }

        .bienvenidos-img {
            .index-img {
                margin-top: 10px;
                width: 80%;
                height: 80%;
                border-radius: 10%;
                margin-left: 10%;
                box-shadow: 24px 13px 26px 0px rgba(0, 0, 0, 0.8);
            }
        }

        .copete-index {
            margin-left: 5%;
            margin-top: 5%;
        }
    }

    .acordeon {
        .card-individual {
            background-color: nth($list: $colores, $n: 4);

            .card-header {
                h3 {
                    .btn {
                        font-size: 1.5rem !important;
                        color: black !important;
                        text-decoration: none !important;
                    }
                }
            }

            .colapsable {
                .cuerpo-card {
                    .imagen-intro-index {
                        img {
                            @extend %imagenes-index;
                        }
                    }
                }
            }
        }
    }

    .premezcla {
        .container-main-index {
            .imagen-intro-index {
                img {
                    @extend %imagenes-index;
                    margin-left: 23%;
                }
            }

            .introduccion {
                margin-top: 5%;
                margin-left: 5%;
                margin-right: 5%;
                list-style-position: inside;
            }



            .imagen-introduccion {
                img {
                    @extend %imagenes-index;
                    margin: 5% 13%;
                }
            }

            .introduccion-receta {
                margin: 5%;
            }

            .ingredientes-premezcla {
                margin: 5%;
                //    .ingredientes {}
            }

            .goma-xantica {
                img {
                    @extend %imagenes-index;
                    margin: 5% 13%;
                }
            }

            .final-premezcla {
                margin: 5%;
            }
        }
    }
}