.main-recetas-dulces {
    .parallax {
        background-image: url(./../images/recetas-dulces-intro.jpg);
        height: 100%;
        @extend %parallax;

        .texto-parallax {
            @extend %texto-parallax;;

            h1 {
                color: #000;
                text-shadow: 2px 2px white;
                width: 100%;
            }

            h2 {
                color: #000;
                text-shadow: 2px 2px white;
                width: 100%;
            }
        }
    }

    .imagen-dulce-general {
        .imagen-dulce-portada {
            img {
                width: 80%;
                margin: 10% 13%;
                display: block;
                border-radius: 10%;
            }
        }
    }

    .container-modales {
        .row {
            .modal-box {
                .imagen-modal-portada {
                    img {
                        @include estilos-imagenes-portadas(70%, 15%, block, 10%, 24px 13px 26px 0px rgba(0, 0, 0, 0.8));
                    }
                }

                .modal-ventana {
                    display: flex;
                    justify-content: center;

                    .modal-button {
                        margin: 5%;
                        background-color: nth($list: $colores, $n: 3);

                    }

                    .cuadro-modal {
                        .dialogo-modal {
                            .modal-content {
                                background-color: nth($list: $colores, $n: 4);

                                .body-modal {
                                    .individual-container {
                                        @extend %flex-container;
                                        margin: 10%;

                                        .cuadro-individual {
                                            @extend %cuadro-individual;

                                            img {
                                                @include estilos-imagenes-portadas(90%, 8%, block, 10%, 24px 13px 26px 0px rgba(0, 0, 0, 0.8));
                                            }

                                            .descripcion {
                                                padding: 10%;
                                            }

                                            .subtitulo {
                                                padding: 10%;
                                            }
                                        }
                                    }

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}