.main-contacto {
    .parallax {
        background-image: url(./../images/contacto-parallax.jpeg);
        height: 100%;
        @extend %parallax;

        .texto-parallax {
            @extend %texto-parallax;

            h1 {
                color: #000;
                text-shadow: 2px 2px white;
                width: 100%;
            }

            h2 {
                color: #000;
                text-shadow: 2px 2px white;
                width: 100%;
            }
        }
    }

    .formulario {
        .gaps {
            .boton-enviar {
                .enviar {
                    color: white;
                    background-color: nth($list: $colores, $n: 3);
                }
            }
        }
    }
}